ServerParcial/web/WEB-INF/wsit-server.uniminutero.banco.Servicios.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Servicios" targetNamespace="http://banco.uniminutero.server/" xmlns:tns="http://banco.uniminutero.server/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="crear_cuenta"/>
    <message name="crear_cuentaResponse"/>
    <message name="ClassNotFoundException"/>
    <message name="SQLException"/>
    <message name="Exception"/>
    <message name="eliminar_cliente"/>
    <message name="eliminar_clienteResponse"/>
    <message name="crear_cliente"/>
    <message name="crear_clienteResponse"/>
    <portType name="Servicios">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="crear_cuenta">
            <input message="tns:crear_cuenta"/>
            <output message="tns:crear_cuentaResponse"/>
            <fault name="ClassNotFoundException" message="tns:ClassNotFoundException"/>
            <fault name="SQLException" message="tns:SQLException"/>
            <fault name="Exception" message="tns:Exception"/>
        </operation>
        <operation name="eliminar_cliente">
            <input message="tns:eliminar_cliente"/>
            <output message="tns:eliminar_clienteResponse"/>
        </operation>
        <operation name="crear_cliente">
            <input message="tns:crear_cliente"/>
            <output message="tns:crear_clienteResponse"/>
        </operation>
    </portType>
    <binding name="ServiciosPortBinding" type="tns:Servicios">
        <wsp:PolicyReference URI="#ServiciosPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="crear_cuenta">
            <input/>
            <output/>
            <fault name="ClassNotFoundException"/>
            <fault name="SQLException"/>
            <fault name="Exception"/>
        </operation>
        <operation name="eliminar_cliente">
            <input/>
            <output/>
        </operation>
        <operation name="crear_cliente">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Servicios">
        <port name="ServiciosPort" binding="tns:ServiciosPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="ServiciosPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServiciosPortBinding_eliminar_cliente_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServiciosPortBinding_eliminar_cliente_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
