clienteService/src/META-INF/wsdl/localhost_8080/WebServiceParcial/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mi_parcial/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mi_parcial/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://mi_parcial/" schemaLocation="http://localhost:8080/WebServiceParcial/Operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crear_cuenta">
<part name="parameters" element="tns:crear_cuenta"/>
</message>
<message name="crear_cuentaResponse">
<part name="parameters" element="tns:crear_cuentaResponse"/>
</message>
<message name="eliminar_cliente">
<part name="parameters" element="tns:eliminar_cliente"/>
</message>
<message name="eliminar_clienteResponse">
<part name="parameters" element="tns:eliminar_clienteResponse"/>
</message>
<message name="crear_cliente">
<part name="parameters" element="tns:crear_cliente"/>
</message>
<message name="crear_clienteResponse">
<part name="parameters" element="tns:crear_clienteResponse"/>
</message>
<message name="transaccion">
<part name="parameters" element="tns:transaccion"/>
</message>
<message name="transaccionResponse">
<part name="parameters" element="tns:transaccionResponse"/>
</message>
<message name="cancelar_credito">
<part name="parameters" element="tns:cancelar_credito"/>
</message>
<message name="cancelar_creditoResponse">
<part name="parameters" element="tns:cancelar_creditoResponse"/>
</message>
<message name="consultar_informacion">
<part name="parameters" element="tns:consultar_informacion"/>
</message>
<message name="consultar_informacionResponse">
<part name="parameters" element="tns:consultar_informacionResponse"/>
</message>
<message name="pedir_credito">
<part name="parameters" element="tns:pedir_credito"/>
</message>
<message name="pedir_creditoResponse">
<part name="parameters" element="tns:pedir_creditoResponse"/>
</message>
<portType name="Operaciones">
<operation name="login">
<input wsam:Action="http://mi_parcial/Operaciones/loginRequest" message="tns:login"/>
<output wsam:Action="http://mi_parcial/Operaciones/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://mi_parcial/Operaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://mi_parcial/Operaciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crear_cuenta">
<input wsam:Action="http://mi_parcial/Operaciones/crear_cuentaRequest" message="tns:crear_cuenta"/>
<output wsam:Action="http://mi_parcial/Operaciones/crear_cuentaResponse" message="tns:crear_cuentaResponse"/>
</operation>
<operation name="eliminar_cliente">
<input wsam:Action="http://mi_parcial/Operaciones/eliminar_clienteRequest" message="tns:eliminar_cliente"/>
<output wsam:Action="http://mi_parcial/Operaciones/eliminar_clienteResponse" message="tns:eliminar_clienteResponse"/>
</operation>
<operation name="crear_cliente">
<input wsam:Action="http://mi_parcial/Operaciones/crear_clienteRequest" message="tns:crear_cliente"/>
<output wsam:Action="http://mi_parcial/Operaciones/crear_clienteResponse" message="tns:crear_clienteResponse"/>
</operation>
<operation name="transaccion">
<input wsam:Action="http://mi_parcial/Operaciones/transaccionRequest" message="tns:transaccion"/>
<output wsam:Action="http://mi_parcial/Operaciones/transaccionResponse" message="tns:transaccionResponse"/>
</operation>
<operation name="cancelar_credito">
<input wsam:Action="http://mi_parcial/Operaciones/cancelar_creditoRequest" message="tns:cancelar_credito"/>
<output wsam:Action="http://mi_parcial/Operaciones/cancelar_creditoResponse" message="tns:cancelar_creditoResponse"/>
</operation>
<operation name="consultar_informacion">
<input wsam:Action="http://mi_parcial/Operaciones/consultar_informacionRequest" message="tns:consultar_informacion"/>
<output wsam:Action="http://mi_parcial/Operaciones/consultar_informacionResponse" message="tns:consultar_informacionResponse"/>
</operation>
<operation name="pedir_credito">
<input wsam:Action="http://mi_parcial/Operaciones/pedir_creditoRequest" message="tns:pedir_credito"/>
<output wsam:Action="http://mi_parcial/Operaciones/pedir_creditoResponse" message="tns:pedir_creditoResponse"/>
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crear_cuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crear_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelar_credito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar_informacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedir_credito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8080/WebServiceParcial/Operaciones"/>
</port>
</service>
</definitions>